{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="about py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="section-title">About Me</h2>
                <p class="lead mb-4">Passionate Web Developer with a focus on Python and Django</p>
                <p class="mb-4">I am a dedicated Web Developer with a focus on Python and Django, actively seeking full-time opportunities.I worked on several key projects, including developing a fully functional e-commerce website using the Django framework, which showcased my ability to create robust and scalable web applications.</p> 
                <p class="mb-4">I created a website for providing grooming services at home, also using the Django framework, demonstrating my proficiency in backend development and user-centric design. I have also worked on artificial intelligence projects such as face recognition and object tracking.</p>
                <div class="tech-stack">
                    <h3 class="h5 mb-3">Tech Stack</h3>
                    <div class="d-flex flex-wrap gap-3">
                        <img src="{% static 'images/python.png' %}" alt="Python" height="40">
                        <img src="{% static 'images/html.png' %}" alt="HTML" height="50">
                        <img src="{% static 'images/css.png' %}" alt="CSS" height="50">
                        <img src="{% static 'images/js.png' %}" alt="JavaScript" height="50">
                        <img src="{% static 'images/github.jpeg' %}" alt="github" height="50">
                        <img src="{% static 'images/bootstrap.png' %}" alt="bootstrap" height="50">
                        <img src="{% static 'images/postgres.png' %}" alt="vs_code" height="55">
                        <img src="{% static 'images/rail.png' %}" alt="canva" height="50">
                        <img src="{% static 'images/heidisql.jpg' %}" alt="canva" height="50">
                        <img src="{% static 'images/django.png' %}" alt="Django" height="40">
                        <img src="{% static 'images/mysql.png' %}" alt="mysql" height="40">
                        <img src="{% static 'images/postman-logo.png' %}" alt="postman" height="50">
                        <img src="{% static 'images/rest.png' %}" alt="canva" height="45">
                        <img src="{% static 'images/mariadb.png' %}" alt="canva" height="50">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center animate-fade-in" style="margin-top: 20px;">
              <div class="profile-container" style="width: 300px;">
                  <img src="{% static 'images/photo.png' %}" alt="About Me" class="img-fluid">
              </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}