{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="certificates py-5">
    <div class="container">
        <h2 class="section-title mb-5">Certifications</h2>
        <div class="row g-4">

            <div class="col-md-6 col-lg-4">
                <div class="card h-100">
                    <img src="{% static 'images/microsoft.png' %}" class="card-img-top" alt="Microsoft Certificate">
                    <div class="card-body">
                        <h5 class="card-title">Career Essentials in Software Development</h5>
                        <p class="card-text">Microsoft and LinkedIn</p>
                        <a href="https://www.linkedin.com/learning/certificates/ea3405a957e8cc9355eadb23c2b012d42280c6cece6f63b505c7a5a076cf8fae?trk=share_certificate" class="btn btn-custom" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card h-100">
                    <img src="{% static 'images/pantech_solution_certificate.png' %}" class="card-img-top" alt="Python Certificate">
                    <div class="card-body">
                        <h5 class="card-title">Programming Using Python</h5>
                        <p class="card-text">Pantech Solutions</p>
                        <a href="https://drive.google.com/file/d/1PJCMLYUDBemsskzkg81iyvLGDdS1WShZ/view?usp=sharing" class="btn btn-custom" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card h-100">
                    <img src="{% static 'images/tcs_young_profession.png' %}" class="card-img-top" alt="TCS Certificate">
                    <div class="card-body">
                        <h5 class="card-title">TCS ION Career Edge - Young Professional</h5>
                        <p class="card-text">TCS ION</p>
                        <a href="https://drive.google.com/file/d/1b0q1wRFPki4mJdfrG5mIYVoG6FyyI4sO/view?usp=sharing" class="btn btn-custom" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card h-100">
                    <img src="{% static 'images/infosys_ai.png' %}" class="card-img-top" alt="AI Certificate">
                    <div class="card-body">
                        <h5 class="card-title">Introduction to Artificial Intelligence</h5>
                        <p class="card-text">Infosys Springboard</p>
                        <a href="https://drive.google.com/file/d/1S7gAt3LbGIT7a4ario1ZzmLKk2JWRsHg/view?usp=sharing" class="btn btn-custom" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card h-100">
                    <img src="{% static 'images/git_certificate.png' %}" class="card-img-top" alt="Git Certificate">
                    <div class="card-body">
                        <h5 class="card-title">Git and GitHub | IBM Developer</h5>
                        <p class="card-text">IBM</p>
                        <a href="https://drive.google.com/file/d/1Iz7WdOIsXiAlixvcC0uqxGC1pDsRTfrc/view?usp=sharing" class="btn btn-custom" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}