{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row">
    <div class="jumbtron jumbtron-fluid mt-2">
        <p class="display4 text-light">Python by Pantech solutions</p>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2 ">
        <p class="display4"> Programming Foundations Fundamentals by linkedIn learning </p>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <p class="display4 text-light"> Career Skills in Software Development by linkedIn learning </p>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <p class="display4 text-light"> Artificial Intelligence by Infosys springboard </p>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <p class="display4 text-light"> carrier guidance by IBM SkillBuild </p>
    </div>

    <div class="jumbtron jumbtron-fluid mt-2">
        <p class="display4 text-light"> Software Development by Microsoft and LinkedIn </p>
    </div>

</div>


{% endblock content1 %}