{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 animate-fade-in">
                <h1 class="display-4 fw-bold mb-3">Hi, I'm Prakash</h1>
                <h2 class="h3 text-primary mb-4">Web Developer & Python Enthusiast</h2>
                <p class="lead mb-4">Crafting digital experiences through code and creativity</p>
                <div class="social-links mb-4">
                    <a href="https://www.linkedin.com/in/prakash-kasilingam/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/prakash-cse" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/brave__heart__007/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <a href="{% url 'contact' %}" class="btn btn-custom">Get in Touch</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center animate-fade-in" style="margin-top: 50px;">
                <div class="profile-container" style="width: 300px;">
                    <img src="{% static 'images/photo.png' %}" alt="Prakash" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}